sudo: false

language: php

notifications:
  email:
    recipients:
    - tanner.record@gmail.com

branches:
  only:
    - master

env:
  global:
    - PATH="$TRAVIS_BUILD_DIR/vendor/bin:$PATH"
    - WP_CLI_BIN_DIR="$TRAVIS_BUILD_DIR/vendor/bin"

matrix:
  fast_finish: true
  include:
    - php: 7.2
      env: WP_VERSION=latest
    - php: 7.1
      env: WP_VERSION=latest
    - php: 7.0
      env: WP_VERSION=latest
    - php: 5.6
      env: WP_VERSION=latest
    - php: 5.6
      env: WP_VERSION=4.0
    - php: 5.6
      env: WP_VERSION=trunk
    - php: 5.6
      env: WP_TRAVISCI=phpcs
  allow_failures:
    - php: 5.6
      env: WP_TRAVISCI=phpcs

before_script:
  - bash bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - |
    if [[ ${TRAVIS_PHP_VERSION:0:2} == "7." ]]; then
      composer global require "phpunit/phpunit=5.7.*"
    else
      composer global require "phpunit/phpunit=4.8.*"
    fi
  - |
    composer global require wp-coding-standards/wpcs
    phpcs --config-set installed_paths $HOME/.composer/vendor/wp-coding-standards/wpcs

script:
  - phpcs src/gf-form-locator
  - phpunit

before_deploy:
  - cd src/gf-form-locator
  - zip -r ../../gf-form-locator.zip .

deploy:
  provider: script
  skip_cleanup: true
  script:
    - php build/plugin-build $WP_ORG_PASSWORD $WP_ORG_USERNAME gf-form-locator
  on:
    branch: master
    php: 7.2
