sudo: false

language: php

services:
  - mysql

notifications:
  email:
    recipients:
    - tanner.record@gmail.com

branches:
  only:
    - master
    - /^v.*$/

env:
  global:
    - PATH="$TRAVIS_BUILD_DIR/vendor/bin:$PATH"
    - WP_CLI_BIN_DIR="$TRAVIS_BUILD_DIR/vendor/bin"

matrix:
  include:
    - php: 7.2
      env: WP_VERSION=latest
    - php: 7.1
      env: WP_VERSION=latest
    - php: 7.0
      env: WP_VERSION=latest
    - php: 5.6
      env: WP_VERSION=latest
    - php: 5.6
      env: WP_VERSION=4.8
    - php: 5.6
      env: WP_VERSION=trunk
    - php: 5.6
      env: WP_TRAVISCI=phpcs
  allow_failures:
    - php: 5.6
      env: WP_TRAVISCI=phpcs

before_script:
  - export PATH="$HOME/.config/composer/vendor/bin:$PATH"
  - composer install --no-dev
  - |
    if [[ ! -z "$WP_VERSION" ]] ; then
      bash bin/install-wp-tests.sh wordpress_test root '' 127.0.0.1 $WP_VERSION
      composer global require "phpunit/phpunit=4.8.*|5.7.*"
    fi
  - |
    if [[ "$WP_TRAVISCI" == "phpcs" ]] ; then
      composer global require wp-coding-standards/wpcs
      phpcs --config-set installed_paths $HOME/.config/composer/vendor/wp-coding-standards/wpcs
    fi

script:
  - |
    if [[ ! -z "$WP_VERSION" ]] ; then
      phpunit
      WP_MULTISITE=1 phpunit
    fi
  - |
    if [[ "$WP_TRAVISCI" == "phpcs" ]] ; then
      phpcs
    fi

before_deploy:
  - zip -r gf-form-locator.zip src/gf-form-locator

deploy:
  # Upload .zip to Github release
  - provider: releases
    api_key: "$GITHUB_OAUTH_TOKEN"
    file: "gf-form-locator.zip"
    skip_cleanup: true
    on:
      tags: true
      php: 7.2
  # Deploy to WordPress Repository
  - provider: script
    script:
      - php build/plugin-build $WP_ORG_PASSWORD $WP_ORG_USERNAME gf-form-locator
    on:
      tags: true
      php: 7.2
